let mapleader=" "

set easymotion
set surround
set ideajoin

map <Leader> <Plug>(easymotion-prefix)

set argtextobj
set visualbell
set noerrorbells
nmap H ^
set scrolloff=5
nmap L $
imap jk <esc>
imap <c-f> <c-o>a
imap df <c-o>a
nmap <leader>1 1<c-w>w
nmap <leader>2 2<c-w>w
nmap <leader>3 3<c-w>w

nmap <tab> :bn<CR>
nmap <S-tab> :bp<CR>
nmap <leader>bc :bd<CR>